<h2>Новое сообщение</h2>

<p>Здравствуйте, вам поступило сообщение от пользователя <%= @feedback.name %> из формы обратной связи.</p>
<p>Эл. почта отправителя: <%= @feedback.email %></p>
<p>Текст сообщения:</p>

<blockquote>
  <%=  @feedback.message.html_safe %>
</blockquote>

<p>Чтобы ответить на это сообщение, просто ответьте на письмо.</p>
