<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>500 Ошибка</title> 
</head>
<body>
  <h1> 500 Ошибка</h1>
  <p>
    Произошла ошибка. Уже исправляем.
  </p>
</body>
<html>
